.countryItem {
	list-style-type: none;
}

.countryWrapper {
	overflow-y: scroll;
	height: 200px;
}

.dropdownInput input {
	width: -webkit-fill-available;
	padding: 20px;
	border: none;
	outline: none;
}