.countryItem {
	list-style-type: none;
}

.countryWrapper {
	overflow-y: scroll;
	height: 200px;
	border-top: 1px solid #dcdcdc;
}

.dropdownInput input {
	width: -webkit-fill-available;
	padding: 20px;
	border: none;
	outline: none;
}

.countryName {
	text-align: center;
	margin-right: 5%;
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
}