#country-container {
	display: none;
	height: auto;
	width: 23%;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #ffffff;
	overflow-y: scroll;
	box-shadow: 3px 3px 8px 6px rgba(0, 0, 0, 0.03);
}

.inputWrap {
	display: flex;
	flex-direction: column;
	width: 23%;
}

.inputWrap label {
	padding-bottom: 5px;
	color: #c8c8c8;
}

#phone {
	padding: 10px;
	outline: none;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	background: none;
}